.feed-header {
  margin: 0;
  height: 38px;
}
.feed-header .feed-manage-link {
  height: 35px !important;
}
.feed-header #channel-navigation-menu li {
  margin-left: 4px;
}
.feed-header #channel-navigation-menu li .yt-uix-button-epic-nav-item,
.feed-header #channel-navigation-menu li .epic-nav-item-heading {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
}
.branded-page-v2-container {
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
}
.branded-page-v2-container .branded-page-v2-primary-col {
  overflow: hidden;
}
.branded-page-v2-container #browse-items-primary {
  margin: 0;
}
.branded-page-v2-container #browse-items-primary:first-child {
  margin-top: 0;
}
.branded-page-v2-container #browse-items-primary .feed-item-main {
  margin: 0;
}
.branded-page-v2-container #browse-items-primary .feed-author-bubble-container {
  height: 100%;
  width: 38px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #e2e2e2;
  background: #f3f3f3;
}
.branded-page-v2-container #browse-items-primary .feed-author-bubble-container .feed-author-bubble {
  margin: 0;
  padding: 0;
  background: none;
  height: 100%;
  width: 100%;
}
.branded-page-v2-container #browse-items-primary .feed-author-bubble-container .feed-author-bubble .feed-item-author {
  margin: 2px;
}
.branded-page-v2-container #browse-items-primary .feed-author-bubble-container .feed-author-bubble .feed-item-author .video-thumb {
  width: 32px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
}
.branded-page-v2-container #browse-items-primary .feed-author-bubble-container .feed-author-bubble .feed-item-author .video-thumb img {
  width: 34px;
  height: 34px;
}
.branded-page-v2-container #browse-items-primary .feed-item-action-menu {
  background: #f1f1f1;
  right: 0;
  top: 0;
  height: 38px;
  width: 32px;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  transition: right 0.3s ease;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  z-index: 30;
}
.branded-page-v2-container #browse-items-primary .feed-item-action-menu .yt-uix-button-action-menu {
  padding: 0;
  height: 100%;
  width: auto;
  opacity: 1 !important;
}
.branded-page-v2-container #browse-items-primary .feed-item-action-menu .slim-resize {
  float: left;
  width: 10px;
  height: 24px;
  margin: 7px 3px;
  z-index: 99;
  cursor: pointer;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAYCAYAAAAoG9cuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHlJREFUeNpiZEACq9asNwBS64E4MCwk8AJMnBFNwX4gFgDiD0DsCFPIiEUBDMAVMuJQgKKQBUg4APFEqGA9koJGKO3AiObw/zA20Bq4HBMDEYB6ioY3GIwhDkpPBUhpCVtS+QBKTwdwJLp6WKIjLvkSnREIZSmAAAMApsw4GVv+GT8AAAAASUVORK5CYII=');
  background-repeat: no-repeat;
}
.branded-page-v2-container .slim-item {
  margin: 0;
  padding: 0;
  height: 38px;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.branded-page-v2-container .slim-item * {
  padding: 0;
  margin: 0;
}
.branded-page-v2-container .slim-item .feed-item-action-menu {
  right: -33px !important;
}
.branded-page-v2-container .slim-item:last-child {
  border-bottom: 1px solid #e2e2e2;
}
.branded-page-v2-container .slim-item .feed-item-action-menu .yt-uix-button-menu .yt-uix-button-menu-item {
  padding: 0 23px;
}
.branded-page-v2-container .slim-item .shelf-annotation {
  display: none;
}
.branded-page-v2-container .slim-item .yt-lockup-badges {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
}
.branded-page-v2-container .slim-item .yt-lockup-badges .item-badge-line {
  display: none;
}
.branded-page-v2-container .slim-item .yt-lockup-badges .yt-subscription-button-subscriber-count-unbranded-horizontal,
.branded-page-v2-container .slim-item .yt-lockup-badges .yt-uix-button {
  padding: 0 8px;
}
.branded-page-v2-container .slim-item .feed-item-main {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 38px;
  min-height: 38px;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  transition: right 0.3s ease;
}
.branded-page-v2-container .slim-item .feed-item-main .yt-shelf-grid-item {
  width: 100%;
}
.branded-page-v2-container .slim-item .feed-item-main .expanded-shelf-content-list,
.branded-page-v2-container .slim-item .feed-item-main .compact-shelf-content-container {
  position: absolute;
  top: 0;
  left: 39px;
  margin: 0;
  z-index: 10;
  height: 100%;
  right: 0;
  background: transparent;
}
.branded-page-v2-container .slim-item .feed-item-main .expanded-shelf-content-list .feed-item-actions-line,
.branded-page-v2-container .slim-item .feed-item-main .compact-shelf-content-container .feed-item-actions-line {
  height: 100%;
  display: block;
  line-height: 16px;
  font-size: 12px;
}
.branded-page-v2-container .slim-item .feed-item-main .expanded-shelf-content-list .feed-item-actions-line > a,
.branded-page-v2-container .slim-item .feed-item-main .compact-shelf-content-container .feed-item-actions-line > a {
  font-weight: bold;
}
.branded-page-v2-container .slim-item .feed-item-main .expanded-shelf-content-list .feed-item-actions-line .feed-item-owner,
.branded-page-v2-container .slim-item .feed-item-main .compact-shelf-content-container .feed-item-actions-line .feed-item-owner {
  height: 100%;
  display: inline-block;
  border-right: 1px solid #e2e2e2;
  padding-right: 8px;
  margin-right: 6px;
  font-size: 11px;
}
.branded-page-v2-container .slim-item .feed-item-main .expanded-shelf-content-list .feed-item-actions-line .feed-item-time,
.branded-page-v2-container .slim-item .feed-item-main .compact-shelf-content-container .feed-item-actions-line .feed-item-time {
  display: none;
}
.branded-page-v2-container .slim-item .feed-item-main .expanded-shelf-content-list .yt-lockup-thumbnail,
.branded-page-v2-container .slim-item .feed-item-main .compact-shelf-content-container .yt-lockup-thumbnail {
  width: 67.59615384615384px;
  margin: 0;
  height: 38px;
  border-right: 1px solid #e2e2e2;
}
.branded-page-v2-container .slim-item .feed-item-main .expanded-shelf-content-list .yt-lockup-thumbnail a,
.branded-page-v2-container .slim-item .feed-item-main .compact-shelf-content-container .yt-lockup-thumbnail a {
  display: block;
  width: 100%;
  height: 100%;
}
.branded-page-v2-container .slim-item .feed-item-main .expanded-shelf-content-list .yt-lockup-thumbnail .video-thumb,
.branded-page-v2-container .slim-item .feed-item-main .compact-shelf-content-container .yt-lockup-thumbnail .video-thumb {
  display: block;
  width: 100%;
  height: 100%;
}
.branded-page-v2-container .slim-item .feed-item-main .expanded-shelf-content-list .yt-lockup-thumbnail .watched-badge,
.branded-page-v2-container .slim-item .feed-item-main .compact-shelf-content-container .yt-lockup-thumbnail .watched-badge {
  left: 0;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 38px;
  /* uploaded */
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .feed-item-content-wrapper {
  border: 0;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .feed-item-post {
  display: none;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-wrapper {
  height: 100%;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .branded-page-module-title-text {
  display: none;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item {
  height: 100%;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .branded-page-module-title {
  margin: 0;
  height: 38px;
  border-right: 1px solid #e2e2e2;
  width: 38px;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .branded-page-module-title .watched-badge {
  left: 0;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .branded-page-module-title .branded-page-module-title-link {
  display: block;
  width: 100%;
  height: 100%;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .branded-page-module-title .video-thumb {
  height: 38px;
  width: 38px;
  margin: 0;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .branded-page-module-title .video-thumb .yt-thumb-clip {
  height: 38px;
  width: 38px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .branded-page-module-title .video-thumb .yt-thumb-clip img {
  height: 38px;
  width: 38px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content {
  position: absolute;
  top: 0;
  left: 67.59615384615384px;
  right: 0;
  height: 38px;
  overflow: visible;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-title {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 23px;
  padding: 0 8px;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-title a {
  height: 23px;
  line-height: 23px;
  font-size: 12px;
  background: transparent;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-meta {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  border-left: 1px solid #e2e2e2;
  padding: 0;
  left: 0;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-meta .yt-lockup-meta-info {
  height: 16px;
  line-height: 16px;
  font-size: 11px;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-meta .yt-lockup-meta-info li {
  padding: 0 8px;
  font-weight: bold;
  background: #f1f1f1;
  border-bottom: 1px solid #e2e2e2;
  margin: 0;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-meta .yt-lockup-meta-info li:before {
  content: none;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-meta .yt-lockup-meta-info li:nth-child(1) {
  float: left;
  border-right: 1px solid #e2e2e2;
  white-space: nowrap;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-meta .yt-lockup-meta-info li:nth-child(2) {
  border-left: 1px solid #e2e2e2;
  float: right;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-meta .yt-lockup-meta-info li:nth-child(3) {
  float: right;
  border-left: 1px solid #e2e2e2;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item .yt-lockup-content .yt-lockup-description {
  display: none;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item.yt-lockup-playlist .yt-lockup-content .yt-lockup-meta {
  display: none;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item.yt-lockup-playlist .yt-lockup-content .yt-lockup-playlist-items {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  max-height: 38px;
  max-width: 160px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 20;
  overflow: hidden;
  border-bottom: 0;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item.yt-lockup-playlist .yt-lockup-content .yt-lockup-playlist-items .yt-lockup-playlist-item {
  padding: 0 8px;
  height: 19px;
  line-height: 19px;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item.yt-lockup-playlist .yt-lockup-content .yt-lockup-playlist-items .yt-lockup-playlist-item:hover {
  background: #f8f8f8;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .shelf-item.yt-lockup-playlist .yt-lockup-content .yt-lockup-playlist-items:hover {
  border-right: 1px solid #e2e2e2;
  max-height: 60px;
  max-width: 320px;
  z-index: 999;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .channel-lockup {
  height: 38px;
  margin: 0;
  box-shadow: none;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .channel-lockup .feed-item-content {
  position: relative;
  height: 100%;
  padding: 0;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .channel-lockup .feed-item-content .feed-item-channel-rec-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
}
.branded-page-v2-container .slim-item .feed-item-main .feed-item-main-content .channel-lockup .feed-item-content .feed-subscribe-button {
  margin: 8px;
}
.branded-page-v2-container .slim-item:hover {
  background: #f4fce8 !important;
  z-index: 100000;
}
.branded-page-v2-container .slim-item:hover .feed-item-main {
  right: 32px;
  opacity: 1;
}
.branded-page-v2-container .slim-item.slim-watched {
  background: #f3f3f3;
}
.branded-page-v2-container .slim-item.slim-watched .feed-item-main {
  opacity: 0.7;
}
.branded-page-v2-container .slim-item.slim-clicked {
  background: #fcfbe3;
}
.branded-page-v2-container .slim-item.slim-clicked .feed-item-main {
  opacity: 0.7;
}
.branded-page-v2-container .slim-item.slim-hidden {
  display: none;
}
#slim-preview {
  width: 200px;
  z-index: 19999999999;
  position: absolute;
  border: 1px solid #e2e2e2;
  background: #f1f1f1;
  padding: 2px;
}
#slim-preview img {
  width: 100%;
}
