@import "lesshat";

@box: 8px;
@box-size: 38px;
@color-border: #E2E2E2;
@color-background: #F1F1F1;
@color-background-light: #F8F8F8;
@thumb-ratio: @box-size/104;
@thumb-width: 185 * @thumb-ratio;

@color-watched: rgba(243, 243, 243, 1);
@color-clicked: rgba(252, 251, 227, 1);
@color-hover: #F4FCE8;
@watched-opacity: 0.7;

@preview-width: @box * 25;

@slim-item: ~".slim-item";
@slim-watched: ~".slim-watched";
@slim-clicked: ~".slim-clicked";
@slim-hidden: ~".slim-hidden";
@slim-resize: ~".slim-resize";
@slim-toggle: ~".slim-hide";

@yt-item: ~".feed-item-container";
@yt-watched: ~".watched-badge";
@yt-menu: ~".feed-item-action-menu";
@yt-thumb: ~".yt-lockup-thumbnail";
@yt-navigation: ~".feed-header";
@yt-feed: ~"#browse-items-primary";

.feed-header {
  margin: 0;
  height: @box-size;
  .feed-manage-link {
    height: @box-size - 3px !important;
  }
  #channel-navigation-menu {
    li {
      margin-left: @box / 2;
      .yt-uix-button-epic-nav-item, .epic-nav-item-heading {
        height: @box-size - 6px;
        line-height: @box-size - 6px;
        box-shadow: none;
      }
    }
  }
}

.branded-page-v2-container {
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
  .branded-page-v2-primary-col {
    overflow: hidden;
  }
  #browse-items-primary {
    margin: 0;
    &:first-child {
      margin-top: 0;
    }
    .feed-item-main {
      margin: 0;
    }
    .feed-author-bubble-container {
      height: 100%;
      width: @box-size;
      position: absolute;
      top: 0;
      left: 0;
      border-right: 1px solid @color-border;
      background: darken(@color-background-light, 2%);
      .feed-author-bubble {
        margin: 0;
        padding: 0;
        background: none;
        height: 100%;
        width: 100%;
        .feed-item-author {
          margin: @box / 4;
          .video-thumb {
            width: (@box-size - 2 * (@box / 4)) - 2px;
            background: #FFFFFF;
            border: 1px solid #D3D3D3;
            img {
              width: @box-size - 2 * (@box / 4);
              height: @box-size - 2 * (@box / 4);
            }
          }
        }
      }
    }
    .feed-item-action-menu {
      background: @color-background;
      right: 0;
      top: 0;
      height: @box-size;
      width: @box * 4;
      .transition(right 0.3s ease);
      border-left: 1px solid @color-border;
      border-bottom: 1px solid @color-border;
      z-index: 30;
      //padding-left: @box-size * 2;
      .yt-uix-button-action-menu {
        padding: 0;
        height: 100%;
        width: auto;
        opacity: 1 !important;
      }
      .slim-resize {
        float: left;
        width: @box * 2 - 6;
        height: @box-size - 14;
        margin: 7px 3px;
        z-index: 99;
        cursor: pointer;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAYCAYAAAAoG9cuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHlJREFUeNpiZEACq9asNwBS64E4MCwk8AJMnBFNwX4gFgDiD0DsCFPIiEUBDMAVMuJQgKKQBUg4APFEqGA9koJGKO3AiObw/zA20Bq4HBMDEYB6ioY3GIwhDkpPBUhpCVtS+QBKTwdwJLp6WKIjLvkSnREIZSmAAAMApsw4GVv+GT8AAAAASUVORK5CYII=');
        background-repeat: no-repeat;
      }
    }
  }

  .slim-item {
    margin: 0;
    padding: 0;
    height: @box-size;
    border-bottom: 1px solid @color-border;
    border-right: 1px solid @color-border;
    .transition(background 0.3s ease);
    & * {
      padding: 0;
      margin: 0;
    }
    .feed-item-action-menu {
      right: -@box * 4 - 1px !important;
    }

    &:last-child {
      border-bottom: 1px solid @color-border;
    }
    .feed-item-action-menu .yt-uix-button-menu .yt-uix-button-menu-item {
      padding: 0 23px;
    }
    .shelf-annotation {
      display: none;
    }
    .yt-lockup-badges {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      right: 10px;
      .item-badge-line {
        display: none;
      }
      .yt-subscription-button-subscriber-count-unbranded-horizontal, .yt-uix-button {
        padding: 0 8px;
      }
    }
    .feed-item-main {
      margin: 0;
      padding: 0;
      position: absolute;
      width: auto;
      top: 0;
      left: 0;
      right: 0;
      height: @box-size;
      min-height: @box-size;
      .transition(right 0.3s ease);
      .yt-shelf-grid-item {
        width: 100%;
      }
      .expanded-shelf-content-list, .compact-shelf-content-container {
        position: absolute;
        top: 0;
        left: @box-size + 1px;
        margin: 0;
        z-index: 10;
        height: 100%;
        //left: @box-size + 1;
        right: 0;
        background: transparent;
        .feed-item-actions-line {
          height: 100%;
          display: block;
          line-height: @box * 2;
          font-size: (@box + @box / 2);
          & > a {
            font-weight: bold;
          }
          .feed-item-owner {
            height: 100%;
            display: inline-block;
            border-right: 1px solid @color-border;
            padding-right: @box;
            margin-right: @box - 2px;
            font-size: (@box + @box / 2) - 1;
          }
          .feed-item-time {
            display: none;
          }
        }
        .yt-lockup-thumbnail {
          width: @thumb-width;
          margin: 0;
          height: @box-size;
          border-right: 1px solid @color-border;
          a {
            display: block;
            width: 100%;
            height: 100%;
          }
          .video-thumb {
            display: block;
            width: 100%;
            height: 100%;
          }
          .watched-badge {
            left: 0;
          }
        }
      }
      .feed-item-main-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: @box-size;
        .feed-item-content-wrapper {
          border: 0;
        }
        /* uploaded */
        .feed-item-post {
          display: none;
        }
        .shelf-wrapper {
          height: 100%;
        }
        .branded-page-module-title-text {
          display: none;
        }
        .shelf-item {
          height: 100%;
          .branded-page-module-title {
            margin: 0;
            height: @box-size;
            border-right: 1px solid @color-border;
            width: @box-size;
            .watched-badge {
              left: 0;
            }
            .branded-page-module-title-link {
              display: block;
              width: 100%;
              height: 100%;
            }
            .video-thumb {
              height: @box-size;
              width: @box-size;
              margin: 0;
              .yt-thumb-clip {
                height: @box-size;
                width: @box-size;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                img {
                  height: @box-size;
                  width: @box-size;
                  .border-radius(2px);
                }
              }
            }
          }
          .yt-lockup-content {
            position: absolute;
            top: 0;
            left: @thumb-width;
            right: 0;
            height: @box-size;
            overflow: visible;
            .yt-lockup-title {
              margin: 0;
              position: absolute;
              bottom: 0;
              left: 0;
              height: @box * 3 - 1px;
              padding: 0 @box;
              a {
                height: @box * 3 - 1px;
                line-height: @box * 3 - 1px;
                font-size: @box + @box / 2;
                background: transparent;
              }
            }
            .yt-lockup-meta {
              margin: 0;
              position: absolute;
              top: 0;
              right: 0;
              height: @box * 2;
              border-left: 1px solid @color-border;
              padding: 0;
              left: 0;
              .yt-lockup-meta-info {
                height: @box * 2;
                line-height: @box * 2;
                font-size: (@box + @box / 2) - 1;
                li {
                  padding: 0 @box;
                  font-weight: bold;
                  background: @color-background;
                  border-bottom: 1px solid @color-border;
                  margin: 0;
                  &:before {
                    content: none;
                  }
                  &:nth-child(1) {
                    float: left;
                    border-right: 1px solid @color-border;
                    white-space: nowrap;
                  }
                  &:nth-child(2) {
                    border-left: 1px solid @color-border;
                    float: right;
                  }
                  &:nth-child(3) {
                    float: right;
                    border-left: 1px solid @color-border;
                  }
                }
              }
            }
            .yt-lockup-description {
              display: none;
            }
          }
          &.yt-lockup-playlist {
            .yt-lockup-content {
              .yt-lockup-meta {
                display: none;
              }
              .yt-lockup-playlist-items {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: auto;
                max-height: @box-size;
                max-width: @box * 20;
                .transition(all 0.3s ease);
                z-index: 20;
                overflow: hidden;
                border-bottom: 0;
                .yt-lockup-playlist-item {
                  padding: 0 8px;
                  height: @box-size /2;
                  line-height: @box-size /2;
                  &:hover {
                    background: @color-background-light;
                  }
                }
                &:hover {
                  border-right: 1px solid @color-border;
                  max-height: (3 * @box-size /2) + 3;
                  max-width: @box * 40;
                  z-index: 999;
                }
              }
            }
          }

        }
        .channel-lockup {
          height: @box-size;
          margin: 0;
          box-shadow: none;
          .feed-item-content {
            position: relative;
            height: 100%;
            padding: 0;
            .feed-item-channel-rec-text {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              padding: 0 @box;
              height: @box * 2 + @box / 2;
              line-height: @box * 2 + @box / 2;
            }
            .feed-subscribe-button {
              margin: @box;
            }
          }
        }
      }
    }

    &:hover {
      background: @color-hover !important;
      z-index: 100000;
      .feed-item-main {
        right: @box * 4;
        opacity: 1;
      }
    }
    &.slim-watched {
      background: @color-watched;
      .feed-item-main {
        opacity: @watched-opacity;
      }
    }
    &.slim-clicked {
      background: @color-clicked;
      .feed-item-main {
        opacity: @watched-opacity;
      }
    }
    &.slim-hidden {
      display: none;
    }
    .slim-resize {

    }
    .slim-hide {

    }
  }
}

#slim-preview {
  width: @preview-width;
  z-index: 19999999999;
  position: absolute;
  border: 1px solid @color-border;
  background: @color-background;
  padding: @box / 4;
  img {
    width: 100%;
  }
}
